@page
@model Quizzle.Pages.Scores.IndexModel
@{
    ViewData["Title"] = "Scores";
}

<div class="text-center">
    <h1 class="display-4">Scores</h1>
    <p>Your score: @Model.Score / @Model.TotalQuestions</p>
</div>
